@charset "UTF-8";

/*
paleta de cores
azul: #00aeef
verde: #4fe891
branco: #edf7f2
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
